@using SampleProject.HtmlHelpers
@model SampleProject.ViewModels.Editor.IndexViewModel
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <!-- Configure API key -->
    <script>
        window.config =
            {
                apiKey: "@Model.ApiKey"
            };
        
    </script>
    <!-- require.js entry -->
    <script data-main="@Url.Content("~/Scripts/Editor/main.js")" src="@Url.Content("~/Scripts/Lib/require/require.js")"></script>
}

<!-- Infomation and control block -->
<div class="row">
    <div id="infobar" class="span12">
       
    </div>
</div>
<!-- End Information and control block -->


<div class="row">
    <!-- Tools bar -->
    <div id="toolbar" class="span12">
       
    </div>
    <!-- End Tools bar -->
</div>


<hr />
<div class="row">
    <!-- Blueprint elements control block -->
    <div id="navbar" class="span2">
        
    </div>
    <!-- Blueprint canvas block -->
    <div id="canvas" class="span8">
           
    </div>
    <!-- End Blueprint canvas block -->
</div>

<div id="error_modal" class="hide modal">
    <div class="modal-header">
         <a class="close" data-dismiss="modal">×</a>
        <h3>Error</h3>
    </div>
    <div class="modal-body">
        <div id="error_content"class="alert alert-error">
            
        </div>   
    </div>
</div>