<div class="btn-group">
    <button class="btn" id="btnAddRect">Add rect</button>
    <button class="btn" id="btnAddEllipse">Add ellipse</button>
    <button class="btn" id="btnDelLast">Delete last</button>
</div>
<div class="btn-group">
    <button class="btn" id="btnSave">Save</button>
    <button class="btn" id="btnLoad">Load</button>
</div>
<div class="btn-group">
    <button class="btn btn-info disabled" id="A1">Choose click action: </button>
</div>
<div class="btn-group" data-toggle="buttons-radio">
  <button id="btnDrawRect" class="btn">Draw rect</button>
  <button id="btnDrawEllipse"class="btn">Draw ellipse</button>
  <button id="btnEdit" class="btn">Edit</button>
  <button id="btnMove" class="btn">Move</button>
  <button id="btnDelete" class="btn">Delete</button>
</div>
