@{
    ViewBag.Title = "Index";
}



<div class="row">
    <h2>Hello! This is primitive vector editor application.</h2>
    @if (!Request.IsAuthenticated)
    {
        <div class="span6">
            <h2>Login</h2>
            <p>You can simple Login with OpenID</p>
            <p><a class="btn" href="@Url.Action("Login", "User")">Login &raquo;</a></p>
        </div>
        <div class="span6">
            <h2>Editor</h2>
            <p>You can try Editor Demo version</p>
            <p><a class="btn" href="@Url.Action("Index", "Editor")">Editor &raquo;</a></p>
        </div>
    }
    else
    {
        <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "User")">Go to your profile &raquo;</a></p>
        
       
    }
</div>


